<!DOCTYPE html>
<html>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
</style>
</head>
<body>

{% for actor_info in actor_infos %}
<a href="/actors?id={{ actor_info['ActorId'] }}">
    <h2>Actor: {{ actor_info['Actor_Name'] }}</h2>
</a>


<table style="width:80%">
    <tr>
        <th>Name:</th>

        <td><p>{{ actor_info['Actor_Name'] }}</p></td>
    </tr>
    <tr>
        <th>Birth Year:</th>
        <td><p>{{ actor_info['Birth_Year'] }}</p></td>
    </tr>
    <tr>
        <th>Death Year:</th>
        <td><p>{{ actor_info['Death_Year'] }}</p></td>
    </tr>
  </table>


<div style="display:inline-block;">
  <form action="/actors/" method="GET">
  <button class="button button5">Edit</button>
  <input type="hidden" name="id" value="{{ actor_info['ActorId'] }}">
  <input type="hidden" name="_method" value="EDIT">
</form>
</div>
<div style="display:inline-block;">
  <form action="/actors/" method="GET">
  <button class="button button5">Delete</button>
  <input type="hidden" name="id" value="{{ actor_info['ActorId'] }}">
  <input type="hidden" name="_method" value="DELETE">
</form>
</div>


{% endfor %}