<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
</style>
</head>
<body>

{% for director_info in director_infos %}
<a href="/directors?id={{ director_info['DirectorId'] }}">
    <h2>Director: {{ director_info['Director_name'] }}</h2>
</a>

<table style="width:80%">
    <tr>
        <th>Name:</th>
        <td><p>{{ director_info['Director_name'] }}</p></td>
    </tr>
    <tr>
        <th>Birth Year:</th>
        <td><p>{{ director_info['Birth_Year'] }}</p></td>
    </tr>
    <tr>
        <th>Award:</th>
        <td><p>{{ director_info['Award'] }}</p></td>
    </tr>
  </table>
{% endfor %}