<!DOCTYPE html>
<html>
<script >
  function navigateByFind(){
    var action_src = '/' + document.getElementsByName("find_target")[0].value;
    var id_form = document.getElementById('find_res');
    id_form.action = action_src;
  }
</script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

<div class="top">
  <img src="{{url_for('static', filename='images/moovie.png')}}" />
</div>

<div class="center">
 <form id = find_res onsubmit="navigateByFind()" method="GET">
  <select type="hidden" name="find_target" style="font-size:24pt;">
    <option value="movies">Moovies</option>
    <option value="directors">Directors</option>
    <option value="actors">Actors</option>
  </select>
    : <input type="text" name="key_word" style="font-size:24pt;height:60px;width:600px;" maxlength="40" />
    <input type="submit" value="Find"  style="font-size:24pt;" />
  </form>


<p>
  Recommand:
  <form action="/movies" style="width: 120px; display:inline-block;">
    <input type="hidden" name="recommand" value=True />
    <button class="button button1" type="submit">Movies</button>
  </form>
  <form action="/actors" style="width: 120px; display:inline-block;">
    <input type="hidden" name="recommand" value=True />
    <button class="button button1" type="submit">Actors</button>
  </form>
  <form action="/directors" style="width: 120px; display:inline-block;">
    <input type="hidden" name="recommand" value=True />
    <button class="button button1" type="submit">Directors</button> 
  </form>
</p>
</div>
</html>