<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
</style>
</head>
<body>

<h2>Upload Actor</h2>

<form action="/actors/" method="POST">
<table style="width:80%">
    <tr>
        <th>Name:</th>
        <td><input name="actor_name" value="{{ actor_info['Actor_Name'] }}" /></td>
    </tr>
    <tr>
        <th>Birth Year:</th>
        <td><input name="birth_year" value="{{ actor_info['Birth_Year'] }}" /></td>
    </tr>
  </table>

  <div style="display:inline-block;">
    <button>Upload</button>
    <input type="hidden" name="id" value="{{ actor_info['ActorId'] }}">
  </div>
</form>